h1{
    color: #800080;
}
.second {
    color:#E91E63 ;
    font: size 16px; ;
}
.terceiro {
    color:#E91E63
}
    h3{
         color: #178FFF;
         font-size: 22px;
    }
 h4{
    color: #FF28D1;
    font-size: 18px;
 }
h2 {
    color: #8E8E8E;
    font-size: 13px;
}